*{
    margin: 0;
    box-sizing: border-box;
}
header{
    
    z-index:1; 
    position: fixed;
    box-shadow: 0 0 10px black;
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:100vw;
    padding:10px;
}
.tab1{
    display:flex;
    align-items:center;
    justify-content:space-evenly;
}

.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    z-index:-1;
    background-color: #7a7a7a;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color:black;
    display: block;
    transition: 0.3s;
}

.sidenav a:nth-child(1){
    margin-top:30px;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
.sidenav a {
        font-size: 18px;
    }
}

section img {
    position: absolute;
    top:0%;
    left:0%;
    width:80%;
    height:80%;
}