.ClassSelectPicker{
    width: 75%;
    padding: 5px;
    border-radius: 5px;
}
.ClassInfo-container{
    align-items: center;
    justify-content: flex-start;

}

.AddStudent-Table-List input[type="time"]{
    width: 70%;
    padding: 3px;
    font-size: 16px;
    border-radius: 3px;
    border: 1.5px solid #cadeef;
}


.AddStudent-Table-List .CreateClass-subTable,
.CreateClass-subTable{
    border:1px solid black;
}
.AddStudent-Table-List .CreateClass-subTable td:nth-child(n),
.CreateClass-subTable td:nth-child(n){
    border:1px solid black;
}
.AddStudent-Table-List .CreateClass-subTable td:nth-child(n),
.CreateClass-subTable td:nth-child(n){
    
    background-color: white;
    font-size: initial;
    font-style: initial;
    font-weight: initial;
}
