.tablestyle1{
    width:80%;
    margin:10px auto;
    transition: all 0.3s;
    box-shadow:0 0 2px gray;
}

.tablestyle1:hover{
    transform: scale(1.01);
}

.AddTeacher-Table-List{
    width:100%;
    justify-content: center;
}

.AddTeacher-Table-List tr:nth-child(odd) td:nth-child(odd){
    background-color: gray;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
}

.AddTeacher-Table-List tr:nth-child(even) td:nth-child(odd){
    background-color: lightgray;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
}

.AddTeacher-Table-List input[type="text"]{
    padding:2px;
    width:75%;
    font-size:18px;
}
