.tablestyle1{
    width:80%;
    margin:10px auto;
    transition: all 0.3s;
    box-shadow:0 0 2px 	#cadeef;
    border: 1px solid #cadeef;

}

.tablestyle1:hover{
    transform: scale(1.01);
}


.AddTeacher-Table-List{
    width:100%;
    justify-content: center;
}

.AddTeacher-Table-List tr:nth-child(odd) td:nth-child(odd){
    background-color: gray;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
}

.AddTeacher-Table-List tr:nth-child(even) td:nth-child(odd){
    background-color: lightgray;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
}

.AddTeacher-Table-List input[type="text"]{
    padding:2px;
    width:75%;
    font-size:18px;
}


.TeacherInfo-content-table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    min-width: 200px;
    font-size: 17px;
  }
  .TeacherInfo-content-table tr th,
  .TeacherInfo-content-table tr td {
    border-bottom: 1px solid #cadeef;
    text-align: left;
    padding: 5px;
  }
  .TeacherInfo-content-table tr th:nth-child(5n),
  .TeacherInfo-content-table tr td:nth-child(5n) {
    border-right: 1px solid #cadeef;
  }
  .TeacherInfo-content-table tr th:first-child,
  .TeacherInfo-content-table tr td:first-child {
    border-left: 1px solid #cadeef;
  }
  .TeacherInfo-content-table tr th {
    background:	#cadeef;
    border-top: 1px solid #cadeef;
  }
  .TeacherInfo-content-table tr td {
      background: rgb(202 222 239 / 0.3);
    }
  
  .TeacherInfo-content-table tr:first-child th:first-child {
    border-top-left-radius: 6px;
  }
  
  .TeacherInfo-content-table tr:first-child th:last-child {
    border-top-right-radius: 6px;
  }
  
  .TeacherInfo-content-table tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
  }
  
  .TeacherInfo-content-table tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
  }

  
  .TeacherInfo-content-table .btn.btn-primary:hover {
  background-color: #0a58ca;
}

.TeacherInfo-content-table .btn.btn-primary {
  background-color: #0d6efd;
}