.timetable-table{
    margin: 0 auto;
    font-size: 18px;
    border-collapse: separate;
    border-spacing: 0px 15px;
}
.timetable-table tr{
    box-shadow: 0px 0px 5px rgba(0,0,0,.5);
}
.timetable-table tr:hover{
    transform: scale(1.05);
}
.timetable-table td{
    text-align: center;
    padding:5px;
}
.timetable-main-content{
    padding:20px;
    border-radius: 15px;
}
.timetable-main-content-1{
    display:flex;
    padding:10px 5px 0 5px;
    justify-content:flex-start;
    border-radius: 20px 20px 0 0;
    background-color:#cadeef;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

}

.timetable-main-content-1::-webkit-scrollbar {
    display: none;
  }
.timetable-main-content-2{
    display:flex;
    justify-content:center;
    border-radius: 0px 0px 20px 20px;
    border:1px solid gray;
    border-top:none;
    background-color: rgb(202 222 239 / 0.2);
}
.timetable-main-content-1 button{
    font-size:16px;
    padding:10px;
    font-weight: 700;
    background-color: rgb(202 222 239 / 0.7);
}
.timetable-main-content-1 button:hover{
    border-top-left-radius:8px ;
    border-top-right-radius:8px ;
    background-color: rgb(222 242 249 / 0.7);
}
.timetable-main-content-2 table{
    width:90%;
    font-size: 15px;
    text-align: center;
    border-collapse: collapse;
    border-color:gray;
}
.timetable-main-content-1 .active1,
.timetable-main-content-1 .active1:hover{
    color:gray;
    border-top-left-radius:8px ;
    border-top-right-radius:8px ;
    background-color: #f0f4fc;
}
.timetable-main-content-2 table .rs-picker-select{
    width:100%;
}
.custom-rs-select{
    width:150px;
    z-index: 10;
}

.TimeTable-Menu{
    font-size:18px;
    cursor: pointer;
    color:#0784b5;
}



.rs-picker-select-menu{
    z-index: 2000;
}

.timetable-preview{
    border-collapse: separate;
    /* border:1px solid black; */
    text-align: center;
    font-size: 14px;
    margin:0 auto;

}

.timetable-preview td{
    padding:5px;
}

.table-preview{
    padding: 0px;
    border-radius: 6px;
    background-color: rgb(202 222 239 / 0.4);
}

.timetable-preview tr:nth-child(1),
.timetable-preview tr:nth-child(2),
.timetable-preview .preview-sideHeader{
    background-color: rgba(7, 132, 181,0.3);
    font-weight: bold;
}

.timetable-preview tr td{
    background-color: rgb(202 222 239 / 0.3);
    font-weight: bold;
}

.timetable-preview td{
    margin: 0px;
}

  
.timetable-preview tr:first-child td:first-child {
    border-top-left-radius: 6px;
  }
  
  .timetable-preview tr:first-child td:last-child {
    border-top-right-radius: 6px;
  }
  
  .timetable-preview tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
  }
  
  .timetable-preview tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
  }

.Subject-Table-List{
    width:100%;
    font-size: 20px;
    justify-content: center;
}

.Subject-Table-List tr:nth-child(odd) td:nth-child(odd){
    background-color: gray;
    font-style: italic;
    font-weight: 700;
}

.Subject-Table-List tr:nth-child(even) td:nth-child(odd){
    background-color: lightgray;
    font-style: italic;
    font-weight: 700;
}
