.timetable-table{
    width:70%;
    margin: 0 auto;
    font-size: 18px;
    border-collapse: separate;
    border-spacing: 0px 15px;
}
.timetable-table tr{
    box-shadow: 0px 0px 5px rgba(0,0,0,.5);
}
.timetable-table tr:hover{
    transform: scale(1.05);
}
.timetable-table td{
    text-align: center;
    padding:5px;
}