body {
  overflow: hidden;
  background-image:linear-gradient( #cadeef,#cadeef);

}

.login {
  width: 480px;
}

.container-fluid1 {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin: 20px;
}

.container1 {
  padding:30px;
}

.error-template {
  padding: 40px 15px;
  text-align: center;
}

.error-actions {
  margin-top: 15px;
  margin-bottom: 15px;
}

.error-actions .btn {
  margin-right: 10px;
}

.Main {
  top:70px;
  height:88vh;
  overflow: auto;
  position: relative;
  display: flex;
  width: 100%;  
  padding: 20px;
  justify-content: flex-end;
  align-items: flex-start;
}

.Home {
  width:80%;
}

.container {
  min-height: 50vh;
  padding: 30px;
  padding-left:10px;
}

@media (max-width: 1100px) {
  .Home {
    width:75%;
  }
}
@media (max-width: 900px) {
  .Home {
    width:85%;
  }
}
@media (max-width: 550px) {
  .Home {
    width:80%;
  }
}