body {
  overflow: hidden;
  background-image:linear-gradient( #cadeef,#cadeef);

}

.login {
  width: 480px;
}

.Main-Page-Content{
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

.Main-Page-Content div{
  padding:10px;
  font-size:20px;
}

.Main-Page-Content div:first-child{
  font-size:30px;
  font-weight: 700;
}

.Login-card{
  background-color: white;
  padding:10px;
  border-radius: 7px;
  margin:10px;
}

.container-fluid1 .form-floating .rs-input-group .rs-input-group-addon{
  background: #f7f7fa;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.container-fluid1 .form-floating .rs-input-group .rs-input-group-btn{
  background: none;
}
.container-fluid1 .form-floating .rs-input-group .rs-input-group-btn:hover{
  background: none;
}

.Login-Content{
  background-color: white;
  border-radius: 10px;
  padding:15px;
  box-shadow: 0 0 7px #aaaaaa;
}

.Login-Content-Title{
  font-size: 24px;
  font-weight: 700;
}

.Login-logo img{
  width:70px;
  height:70px;
}

.Login-subMenu{
  padding: 0px 0px 10px 10px;
  padding-right:0px;
  text-align: center;
}

.Login-subMenu .Login-type{
  font-size: 20px;
  font-weight: 700;
}

@media (max-width:576px) {
  .container-fluid1 .Login-Main-Content{
    flex-direction: column;
    width:60%;
  }
}

@media (max-width:410px) {
  .container-fluid1 .Login-Main-Content{
    flex-direction: column;
    width:75%;
  }
}


.container-fluid1 {
  top:70px;
  position: relative;
  padding: 10px;
  margin: 20px;
}

.Main .Home .container1 {
  padding: 20px 40px;
  overflow: hidden;
}

.error-template {
  padding: 40px 15px;
  text-align: center;
}

.error-actions {
  margin-top: 15px;
  margin-bottom: 15px;
}

.error-actions .btn {
  margin-right: 10px;
}

.Main {
  top:70px;
  height:88vh;
  overflow: auto;
  position: relative;
  display: flex;
  width: 100%;  
  padding: 20px;
  justify-content: flex-end;
  align-items: flex-start;
}

.Main::-webkit-scrollbar {
  width: 10px;
}
.Main::-webkit-scrollbar-track {
  background: #9bd4e4; 
  width: 12px;
}
.Main::-webkit-scrollbar-thumb {
  margin:5px;
  background: rgb(57 172 231/0.5);
  border-radius:100px;
}

.Home {
  width:80%;
}

.container {
  min-height: 50vh;
  padding: 30px;
  padding-left:10px;
}

@media (max-width: 1100px) {
  .Home {
    width:75%;
  }
}
@media (max-width: 900px) {
  .Home {
    width:85%;
  }
}
@media (max-width: 550px) {
  .Home {
    width:80%;
  }
}

.table-responsive{
  padding: 10px;
  -ms-overflow-style: none;
  scrollbar-width: none;

}

.table-responsive::-webkit-scrollbar {
  display: none;
}

input[type="text"]:focus,
input[type="date"]:focus,
select:focus{
  outline:none;
}