.bonafide-content-1{
    display:flex;
    align-items: center;
    justify-content: flex-start;
}

.bonafide-content-2{
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.selectPicker{
    width:100%;
    padding:7px;
    border-radius: 5px;
}

.selectPicker1{
    width:50%;
    padding:7px;
    border-radius: 5px;
}

.tablestyle3{
    width:75%;
    margin:10px auto;
    border-collapse: collapse;
    border: 1px solid #39ace7;
}

.tablestyle3 th,.tablestyle3 td{
    border: 1px solid 	#39ace7;
    padding:10px;
}

.tablestyle3 th{
    background-color:	#39ace7;
    color:white;
    font-weight: 800;
}

.Main .rs-picker-has-value .rs-btn .rs-picker-toggle-value, 
.Main .rs-picker-has-value .rs-picker-toggle .rs-picker-toggle-value {
  color: black;
}

.Bonafide-content-table,
.AdminBonafide-content-table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    min-width: 400px;
    font-size: 17px;
  }
  .Bonafide-content-table tr th,
  .Bonafide-content-table tr td,
  .AdminBonafide-content-table tr th,
  .AdminBonafide-content-table tr td {
    border-bottom: 1px solid #cadeef;
    text-align: left;
    padding: 5px;
  }
  .Bonafide-content-table tr th:nth-child(6n),
  .Bonafide-content-table tr td:nth-child(6n),
  .AdminBonafide-content-table tr th:nth-child(7n),
  .AdminBonafide-content-table tr td:nth-child(7n) {
    border-right: 1px solid #cadeef;
    text-align: right;
  }
  .Bonafide-content-table tr th:first-child,
  .Bonafide-content-table tr td:first-child,
  .AdminBonafide-content-table tr th:first-child,
  .AdminBonafide-content-table tr td:first-child {
    border-left: 1px solid #cadeef;
  }
  .Bonafide-content-table tr th,
  .AdminBonafide-content-table tr th {
    background:	#cadeef;
    border-top: 1px solid #cadeef;
  }
  .Bonafide-content-table tr td,
  .AdminBonafide-content-table tr td {
      background: rgb(202 222 239 / 0.3);
    }
  
  .Bonafide-content-table tr:first-child th:first-child,
  .AdminBonafide-content-table tr:first-child th:first-child {
    border-top-left-radius: 6px;
  }
  
  .Bonafide-content-table tr:first-child th:last-child,
  .AdminBonafide-content-table tr:first-child th:last-child {
    border-top-right-radius: 6px;
  }
  
  .Bonafide-content-table tr:last-child td:first-child,
  .AdminBonafide-content-table tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
  }
  
  .Bonafide-content-table tr:last-child td:last-child,
  .AdminBonafide-content-table tr:last-child td:last-child{
    border-bottom-right-radius: 6px;
  }

  .StudentInfo-content-table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    min-width: 400px;
    font-size: 17px;
  }
  .StudentInfo-content-table tr th,
  .StudentInfo-content-table tr td {
    border-bottom: 1px solid #cadeef;
    text-align: left;
    padding: 5px;
  }
  .StudentInfo-content-table tr th:nth-child(6n),
  .StudentInfo-content-table tr td:nth-child(6n) {
    border-right: 1px solid #cadeef;
  }
  .StudentInfo-content-table tr th:first-child,
  .StudentInfo-content-table tr td:first-child {
    border-left: 1px solid #cadeef;
  }
  .StudentInfo-content-table tr th {
    background:	#cadeef;
    border-top: 1px solid #cadeef;
  }
  .StudentInfo-content-table tr td {
      background: rgb(202 222 239 / 0.3);
    }
  
  .StudentInfo-content-table tr:first-child th:first-child {
    border-top-left-radius: 6px;
  }
  
  .StudentInfo-content-table tr:first-child th:last-child {
    border-top-right-radius: 6px;
  }
  
  .StudentInfo-content-table tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
  }
  
  .StudentInfo-content-table tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
  }
