.heading{
    display: flex;
    justify-content: space-between ;
}

.rs-anim-fade.rs-anim-in {
  z-index: 3000;
}

.exam-edit{
  width:100%;
}

.exam-edit td{
  padding:5px;
}

.ExamSchedule-content-table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    min-width: 400px;
    font-size: 17px;
  }
  .ExamSchedule-content-table tr th,
  .ExamSchedule-content-table tr td {
    border-bottom: 1px solid #cadeef;
    text-align: left;
    padding: 5px;
  }
  .ExamSchedule-content-table tr th:nth-child(4n),
  .ExamSchedule-content-table tr td:nth-child(4n) {
    border-right: 1px solid #cadeef;
  }
  .ExamSchedule-content-table tr th:first-child,
  .ExamSchedule-content-table tr td:first-child {
    border-left: 1px solid #cadeef;
  }
  .ExamSchedule-content-table tr th {
    background: #cadeef;
    border-top: 1px solid #cadeef;
  }
  .ExamSchedule-content-table tr td {
    background: rgb(202 222 239 / 0.3);
  }
  
  .ExamSchedule-content-table tr:first-child th:first-child {
    border-top-left-radius: 6px;
  }
  
  .ExamSchedule-content-table tr:first-child th:last-child {
    border-top-right-radius: 6px;
  }
  
  .ExamSchedule-content-table tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
  }
  
  .ExamSchedule-content-table tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
  }

  .ExamSchedule-content-table input[type="text"],
.ExamSchedule-content-table input[type="number"],
.ExamSchedule-content-table select,
.ExamSchedule-content-table input[type="date"]{
    width:80%;
    padding:3px;
    font-size: 16px;
    border-radius: 3px;
    border:1.5px solid #cadeef;
}

.ExamSchedule-content-table input[type="text"]:focus,
.ExamSchedule-content-table input[type="number"]:focus,
.ExamSchedule-content-table select:focus,
.ExamSchedule-content-table input[type="date"]:focus{
    border:1.5px solid #73ade0;
    outline:none;
}


.ExamSchedule-content-table select{
    width: 70%;
}

@media (max-width: 576px){
    .heading{
        display: flex;
        flex-direction: column;
        width: min-content;
        justify-content: center;
        align-items: center;
    }
}