.selectPicker2{
    width: 90%;
    padding: 5px;
    border-radius: 5px;
}

.selectPicker2:focus{
    outline:none;
}

.selectPicker3{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}

.studentinfo-container{
    display: flex;
    flex-direction: column;

}

.AddStudent-Table-List{
    width:100%;
    justify-content: center;
}

.AddStudent-Table-List tr:nth-child(odd) td:nth-child(odd){
    background-color: gray;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
}

.AddStudent-Table-List tr:nth-child(even) td:nth-child(odd){
    background-color: lightgray;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
}

.AddStudent-Table-List input[type="text"]{
    padding:2px;
    width:75%;
    font-size:18px;
}

.studentlist-container{
    align-items: center;
    justify-content: flex-start;

}

.studentlist-filter{
  text-align: right;
}


.StudentList-content-table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    min-width: 400px;
    font-size: 17px;
  }
  .StudentList-content-table tr th,
  .StudentList-content-table tr td {
    border-bottom: 1px solid #cadeef;
    text-align: left;
    padding: 5px;
  }
  .StudentList-content-table tr th:nth-child(5n),
  .StudentList-content-table tr td:nth-child(5n) {
    border-right: 1px solid #cadeef;
  }
  .StudentList-content-table tr th:first-child,
  .StudentList-content-table tr td:first-child {
    border-left: 1px solid #cadeef;
  }
  .StudentList-content-table tr th {
    background:	#cadeef;
    border-top: 1px solid #cadeef;
  }
  .StudentList-content-table tr td {
      background: rgb(202 222 239 / 0.3);
    }
  
  .StudentList-content-table tr:first-child th:first-child {
    border-top-left-radius: 6px;
  }
  
  .StudentList-content-table tr:first-child th:last-child {
    border-top-right-radius: 6px;
  }
  
  .StudentList-content-table tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
  }
  
  .StudentList-content-table tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
  }

  .StudentInfo-content-table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    min-width: 400px;
    font-size: 17px;
  }
  .StudentInfo-content-table tr th,
  .StudentInfo-content-table tr td {
    border-bottom: 1px solid #cadeef;
    text-align: left;
    padding: 5px;
  }
  .StudentInfo-content-table tr th:nth-child(6n),
  .StudentInfo-content-table tr td:nth-child(6n) {
    border-right: 1px solid #cadeef;
  }
  .StudentInfo-content-table tr th:first-child,
  .StudentInfo-content-table tr td:first-child {
    border-left: 1px solid #cadeef;
  }
  .StudentInfo-content-table tr th {
    background:	#cadeef;
    border-top: 1px solid #cadeef;
  }
  .StudentInfo-content-table tr td {
      background: rgb(202 222 239 / 0.3);
    }
  
  .StudentInfo-content-table tr:first-child th:first-child {
    border-top-left-radius: 6px;
  }
  
  .StudentInfo-content-table tr:first-child th:last-child {
    border-top-right-radius: 6px;
  }
  
  .StudentInfo-content-table tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
  }
  
  .StudentInfo-content-table tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
  }
  

  @media (min-width:1000px){
    .selectPicker2{
        width:50%;
    }   
  }

  
  @media (max-width:575px){
    .studentlist-filter{
      text-align: left;
    }
  }