.Normal1{
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}

.Normal3{
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
}

.Normal2{
    border-radius: 0%;
}

.Normal1,.Normal2,.Normal3{
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    padding: auto;
}

.payment-btn{
    padding:30px;
    font-size:25px;
}

.payment-tab{
    overflow-x: auto;
    display: flex;
    justify-content: space-evenly;
}

.fees-post{
  width:100%;
}

.fees-post input,
.fees-post .rs-picker-toggle-wrapper{
  width:60%;
}

.fees-post td{
  padding:5px;
}

.Payment-content-table-1 {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    min-width: 500px;
    font-size: 17px;
  }
  .Payment-content-table-1 tr th,
  .Payment-content-table-1 tr td {
    border-bottom: 1px solid #cadeef;
    padding: 5px;
  }
  .Payment-content-table-1 tr th:nth-child(5n),
  .Payment-content-table-1 tr td:nth-child(5n) {
    border-right: 1px solid #cadeef;
  }
  .Payment-content-table-1 tr th:first-child,
  .Payment-content-table-1 tr td:first-child {
    border-left: 1px solid #cadeef;
  }
  .Payment-content-table-1 tr th {
    background:	#cadeef;
    border-top: 1px solid #cadeef;
  }
  .Payment-content-table-1 tr td {
      background: rgb(202 222 239 / 0.3);
    }
  
  .Payment-content-table-1 tr:first-child th:first-child {
    border-top-left-radius: 6px;
  }
  
  .Payment-content-table-1 tr:first-child th:last-child {
    border-top-right-radius: 6px;
  }
  
  .Payment-content-table-1 tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
  }
  
  .Payment-content-table-1 tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
  }

  .Payment-content-table-2 {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    min-width: 500px;
    font-size: 17px;
  }
  .Payment-content-table-2 tr th,
  .Payment-content-table-2 tr td {
    border-bottom: 1px solid #cadeef;
    padding: 5px;
  }
  .Payment-content-table-2 tr th:nth-child(even),
  .Payment-content-table-2 tr td:nth-child(even) {
    border-right: 1px solid #cadeef;
  }
  .Payment-content-table-2 tr th:nth-child(4n),
  .Payment-content-table-2 tr td:nth-child(4n) {
    border-right: 1px solid #cadeef;
  }
  .Payment-content-table-2 tr th:first-child,
  .Payment-content-table-2 tr td:first-child {
    border-left: 1px solid #cadeef;
  }
  .Payment-content-table-2 tr th {
    background:	#cadeef;
    border-top: 1px solid #cadeef;
  }
  .Payment-content-table-2 tr td {
      background: rgb(202 222 239 / 0.3);
    }
  
  .Payment-content-table-2 tr:first-child th:first-child {
    border-top-left-radius: 6px;
  }
  
  .Payment-content-table-2 tr:first-child th:last-child {
    border-top-right-radius: 6px;
  }
  
  .Payment-content-table-2 tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
  }
  
  .Payment-content-table-2 tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
  }
  