.classmessage-container-1{
    align-items: center;
    justify-content: center;
}

.msg-textarea{
    height: 100px; 
    width: 100%;
    resize: both; 
    box-sizing: border-box;
    
}
.classmessage-container-2{
    align-items: flex-start;
    justify-content: center;
    text-align: center;
}

.classmessage-container-3{
    align-items: flex-start;
    justify-content: flex-end;
    text-align: center;
}

.chat-container{
    border:none;
    height:60vh;
    padding:0px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    -ms-overflow-style: none;
    scrollbar-width: none; 

}

.chat-container::-webkit-scrollbar {
    display: none;
  }

.message-box{
    align-items: initial;
}

.chat-container-1{
    width: 100%;
    padding:10px;
    height:60vh;
    justify-content: center;
}

.chat-container-2{
    display: flex;
    margin: 10px;
    margin-bottom: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    
}

.textarea{
    resize: none;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.Avatar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    padding-top: 0px;
    min-width: fit-content;
}

.Avatar-1{
    cursor: pointer;
    border-radius: 15px;
    max-width: 300px;
    word-break: break-all;
    font-size: 20px;
    text-align: left;
    height: fit-content;
    padding:5px 10px;
}

.message-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 0px 10px lightgray;
    padding: 10px;
    border-radius: 15px;
    font-size:18px;
    min-width:200px;
    min-height: 80px;
    position: relative;
  }

  .message-content-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .Avatar-2 {
    margin: 0;
    border-radius: 10px;
    width: 100%;
    min-width: 100px;
    text-align: left;
  }
  
  .timer {
    font-size: 15px;
    opacity: 0.8;
  }

  

.class-message-delete{
    cursor:pointer;
    opacity: 0.8;
    font-size: 14px;
}

.class-message-delete:hover{
    font-weight: 600;
}

.classmessage-1 div:nth-child(1){
    text-align: right;
}

@media (max-width:992px) {
    .classmessage-1 div:nth-child(n){
        text-align: left;
    }
    .message-box{
        text-align: left;
    }
}
