.Assessment-tab{
    display:flex;
    padding:10px;
    margin:10px 0px;
    cursor:pointer;
    box-shadow: 0 0 3px gray;
    flex-direction: column;
    transition: all 0.3s;
}

.Assessment-tab:hover{
    transform: scale(1.02);
}

.Assessment-tab-2,.Assessment-tab-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accordion-header .accordion-button{
    padding:0px 10px;
}
